<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="main__container">
        <div class="app__container">
            <div class="container__title">
                <form method="POST" class="title__form">
                    <input type="text" name="city" value="<%= currentDatas.city_name %>, <%= currentDatas.country_code %>" class="title__input">
                    <button class="title__button">Search</button>
                </form>
                    
            </div>
            <div class="container__data">
                <div class="data__img">
                    <img src="https://www.weatherbit.io/static/img/icons/<%= currentDatas.weather.icon %>.png" alt="" class="img__icon">
                </div>
                <div class="data__temperature">
                    <p class="temperature__main"><%= currentDatas.temp %>°</p>
                </div>
                <div class="data__info">
                    <p class="info__sec">Wind : <%= currentDatas.wind_spd %> m/s</p>
                    <p class="info__sec">Precipitation Rate : <%= currentDatas.precip %> mm/hr</p>
                    <p class="info__sec">Pressure : <%= currentDatas.pres %> mb</p>
                    <p class="info__sec">Air Quality Index : <%= currentDatas.aqi %> </p>
                </div>
            </div>
            <div class="container__footer">
                <p class="footer__forecast">
                    <% for (let i=0; i < 7; i++) { %>
                        <%= forecastDatas[i].temp %>
                    <%}%>
            </p>
            </div>
        </div>
    </div>
</body>
</html>